body {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
}

.header-block {
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
    background-color: gray;
}


.title {
    font-size: 64px;
    font-family: 'lato';
    font-weight: 800;
    color: #fff;
    letter-spacing: .2em;
    margin: 35px 0 0;
}

.todo, .todo-new {
    box-sizing: border-box;
    width: 710px;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px 25px;
    border-bottom: 1px solid #242021;
}

.todo:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

.todo-button {
    width: 30px;
    min-height: 30px;
    border: none;
    border: 2px solid #242021;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: 0 25px 0 0;
}

.todo-text {
    font-family: 'lato';
    font-weight: 400;
    font-size: 22px;
    width: 580px;
    border: none;
    color: #242021;
}

.bottom {
    height: 70px;
    width: 710px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

.todo-count {
    font-family: 'lato';
    font-size: 18px;
    color: #CCBEB3;
    font-weight: 300;
}

.filter-block {
    min-width: 190px;
    display: block;
    justify-content: space-between;
}

.filter-button, .clear-completed{
    cursor: pointer;
    background-color: #fff;
    font-family: 'lato';
    font-size: 18px;
    font-weight: 300;
    color: #CCBEB3;
    border: none;
}

.filter-button:hover, .clear-completed:hover {
    color: #242021;
}

.filter-button:active, .clear-completed:active {
    font-weight: normal;
    color: #9C9E4A;
}

.activated {
    font-weight: normal;
    color: #9C9E4A;
}

.completed-text {
    color: #CCBEB3;
    text-decoration: line-through 2px;
}

.new {
    border: none;
    border-radius: 10px;
    margin: 35px 0;
}

.first {
    border-radius: 10px 10px 0 0;
}